@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/light/main.css';
@import "tailwindcss";

@theme {
  --color-brand: #0056b3;
  --color-hover: #043166;
  --color-active: #0e1d2d;
  --color-disabled: #c2c2c2;
}

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #dadada;
    color: #333;
  }

  a {
    color: var(--color-brand);
    text-decoration: none;

    &:hover {
      color: var(--color-hover);
    }

    &:active {
      color: var(--color-active);
    }
  }

  /* button {
    background-color: var(--color-brand);
    color: white;

    &:disabled {
      background-color: var(--color-disabled);
      cursor: not-allowed;
    }
  } */
}